<enter>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./css/style.css">

        <title>LAYOUT</title>
    </head>

    <body>

        <header class="cabecalho">
            <img src="./img/logo-image.png" alt="" srcset="">

            <nav>
                <a href="">Home</a>
                <a href="">Animais</a>
                <a href="">Help</a>
            </nav>
        </header>


        <h2 class="tic-sec">Seccetion of picture</h2>


        <section class="contet">
            <div class="lobo-01">
                <img src="./img/lobo-01.png" alt="">
                <p>LEGENDA</p>
            </div>

            <div class="">
                <img src="./img/lobo-02.png" alt="">
                <p>LEGENDA</p>
            </div>

            <div class="">
                <img src="./img/lobo-03.png" alt="">
                <p>LEGENDA</p>
            </div>

            <div class="">
                <img src="./img/lobo-04cópia.png" alt="">
                <p>LEGENDA</p>
            </div>

            <div class="">
                <img src="./img/lobo-05 - cópia.png" alt="">
                <p>LEGENDA</p>
            </div>

            <div class="">
                <img src="./img/lobo-06 - cópia.png" alt="">
                <p>LEGENDA</p>
            </div>
        </section>


        <footer>
            <h2>FALE CONOSCO</h2>
            <nav>
                <a href="#">Git hub</a>
                <a href="#">twt</a>
                <a href="#">fb</a>
            </nav>

        </footer>

    </body>

    </html>
</enter>