<enter>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="./ccs2/style.css">
    </head>

    <body>
        <table>
            <!-- tr quer dizer table row  -->
            <tr>
                <!-- cabecalho da coluna, coloca elementos em negrito -->
                <th>Nome</th>
                <th>Espécie</th>
                <th>Pelagem</th>
                <th>Habitat</th>
                <th>Incidência</th>
            </tr>
            <tr>
                <td>Leão</td>
                <td>Felino</td>
                <td>loiro</td>
                <td>svana</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Lobo</td>
                <td>Canideo</td>
                <td>preto</td>
                <td>floresta</td>
                <td>3</td>
            </tr>
        </table>
    </body>

    </html>
</enter>